[[redirects]]
  from = "/:lang/:section/:slug/"
  to = "/:lang/:section/:slug"
  status = 301
  force = true

# ✅ БОТАМ = bot_pages статика
[[redirects]]
  from = "/en/services/custom-web-development-tbilisi*"
  to = "/bot_pages/en/services/custom-web-development-tbilisi/index.html"
  status = 200
  force = true
  conditions = { User-Agent = ["Googlebot", "AdsBot-Google", "Google-InspectionTool", "Bingbot", "Yandexbot"] }

[[redirects]]
  from = "/en/services/seo-optimization-tbilisi*"
  to = "/bot_pages/en/services/seo-optimization-tbilisi/index.html"
  status = 200
  force = true
  conditions = { User-Agent = ["Googlebot", "AdsBot-Google", "Google-InspectionTool", "Bingbot", "Yandexbot"] }

[[redirects]]
  from = "/ru/services/razrabotka-saitov-tbilisi*"
  to = "/bot_pages/ru/services/razrabotka-saitov-tbilisi/index.html"
  status = 200
  force = true
  conditions = { User-Agent = ["Googlebot", "AdsBot-Google", "Google-InspectionTool", "Bingbot", "Yandexbot"] }

[[redirects]]
  from = "/ru/services/seo-prodvizhenie-tbilisi*"
  to = "/bot_pages/ru/services/seo-prodvizhenie-tbilisi/index.html"
  status = 200
  force = true
  conditions = { User-Agent = ["Googlebot", "AdsBot-Google", "Google-InspectionTool", "Bingbot", "Yandexbot"] }

# ✅ ПОЛЬЗОВАТЕЛЯМ = SPA
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200